In [ ]:
!pip install pandas

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pandas in /usr/local/lib/python3.8/dist-packages (1.3.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.8/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.8/dist-packages (from pandas) (2022.7.1)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.8/dist-packages (from pandas) (1.21.6)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.8/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)

In [ ]:
import pandas as pd
import random

In [ ]:
df = pd.DataFrame(columns=['N', 'P', 'K', 'Ph', 'Temperature(C)', 'Rainfall(mm)', 'Humidity', 'Crop'])
df

Empty DataFrame
Columns: [N, P, K, Ph, Temperature(C), Rainfall(mm), Humidity, Crop]
Index: []

In [ ]:
data = pd.DataFrame()

def newrows(crop):
  N = []
  P = []
  K = []
  ph = []
  temp = []
  rain = []
  humidity = []
  
  for i in range(1000):
    rN = crop["N"] + random.randint(-20, 20)
    rP = crop["P"] + random.randint(-5, 20)
    rK = crop["K"] + random.randint(-5, 5)
    rPh = round(random.uniform(crop["phS"], crop["phE"]), 1)
    rTemp = random.randint(crop["tempS"], crop["tempE"])
    rRain = random.randint(crop["rainS"], crop["rainE"])
    rHumid = random.randint(crop["HumidS"], crop["HumidE"])
    N.append(rN)
    P.append(rP)
    K.append(rK)
    ph.append(rPh)
    temp.append(rTemp)
    rain.append(rRain)
    humidity.append(rHumid)


  data = pd.DataFrame({'N': N, 'P': P, 'K': K,'Ph': ph, 'Temperature(C)': temp, 'Rainfall(mm)': rain, 'Humidity': humidity, 'Crop': crop["Name"]})
  
  return data

In [ ]:
df.head()

Empty DataFrame
Columns: [N, P, K, Ph, Temperature(C), Rainfall(mm), Humidity, Crop]
Index: []

In [ ]:
crop_list = pd.read_csv('crops_info.csv')

In [ ]:
crop_list.head()

,Name,N,P,K,phS,phE,tempS,tempE,rainS,rainE,HumidS,HumidE
0,rice,80,40,40,5.5,7.0,21,35,100,150,70,80
1,maize,80,40,20,6.0,7.5,20,30,50,100,50,60
2,chickpea,40,60,80,6.0,7.5,20,30,25,100,60,70
3,kidneybeans,20,60,20,6.0,7.0,20,30,50,100,60,70
4,pigeonpeas,20,60,20,5.5,7.5,20,35,50,100,60,70

In [ ]:
# for crop in crop_list:
  # d = newrows(crop[0])
  # df = pd.concat([df, d], ignore_index=True)

for ind, row in crop_list.iterrows():
  crop = row.to_dict()
  # print(crop)
  d = newrows(crop)
  df = pd.concat([df, d], ignore_index=True)

ValueError: ignored

In [ ]:
df_shuffled = df.sample(frac=1)
df_shuffled.head()

        N   P   K   Ph Temperature(C) Rainfall(mm) Humidity     Crop
18334  25  20  34  7.2             33          169       74  coconut
8548   28  63  20  6.8             21           56       65   lentil
18012  31   8  33  7.4             29          177       77  coconut
11909  12  38  26  6.0             35          121       80    mango
679    79  46  39  5.7             28          133       71     rice

In [ ]:
df_shuffled.reset_index(inplace=True, drop=True)
df_shuffled.head()

    N   P   K   Ph Temperature(C) Rainfall(mm) Humidity     Crop
0  25  20  34  7.2             33          169       74  coconut
1  28  63  20  6.8             21           56       65   lentil
2  31   8  33  7.4             29          177       77  coconut
3  12  38  26  6.0             35          121       80    mango
4  79  46  39  5.7             28          133       71     rice

In [ ]:
df_shuffled.to_csv('final_data.csv')