In [1]:
# !pip install pandas

In [2]:
import pandas as pd
import random

In [3]:
df = pd.DataFrame(columns=['N', 'P', 'K', 'Ph', 'Temperature(C)', 'Rainfall(cm)', 'Humidity', 'Crop'])
df

Empty DataFrame
Columns: [N, P, K, Ph, Temperature(C), Rainfall(cm), Humidity, Crop]
Index: []

In [4]:
data = pd.DataFrame()

def newrows(crop):
  N = []
  P = []
  K = []
  ph = []
  temp = []
  rain = []
  humidity = []
  
  for i in range(1000):
    rN = crop["N"] + random.randint(-10, 10)
    rP = crop["P"] + random.randint(-5, 5)
    rK = crop["K"] + random.randint(-2, 2)
    rPh = round(random.uniform(crop["phS"], crop["phE"]), 1)
    rTemp = random.randint(crop["tempS"], crop["tempE"])
    rRain = random.randint(crop["rainS"], crop["rainE"])
    rHumid = random.randint(crop["HumidS"], crop["HumidE"])
    N.append(rN)
    P.append(rP)
    K.append(rK)
    ph.append(rPh)
    temp.append(rTemp)
    rain.append(rRain)
    humidity.append(rHumid)


  data = pd.DataFrame({'N': N, 'P': P, 'K': K,'Ph': ph, 'Temperature(C)': temp, 'Rainfall(cm)': rain, 'Humidity': humidity, 'Crop': crop["Name"]})
  
  return data

In [5]:
df.head()

Empty DataFrame
Columns: [N, P, K, Ph, Temperature(C), Rainfall(cm), Humidity, Crop]
Index: []

In [6]:
crop_list = pd.read_csv("../dataset/crops_info.csv")

In [7]:
crop_list.head()

,Name,N,P,K,phS,phE,tempS,tempE,rainS,rainE,HumidS,HumidE
0,rice,80,40,40,5.5,7.0,21,35,100,150,70,80
1,maize,80,40,20,6.0,7.5,20,30,50,100,50,60
2,chickpea,40,60,80,6.0,7.5,20,30,25,100,60,70
3,kidneybeans,20,60,20,6.0,7.0,20,30,50,100,60,70
4,pigeonpeas,20,60,20,5.5,7.5,20,35,50,100,60,70

In [8]:
df = pd.DataFrame()

for ind, row in crop_list.iterrows():
  crop = row.to_dict()
  d = newrows(crop)
  df = pd.concat([df, d], ignore_index = True)

In [9]:
df_shuffled = df.sample(frac = 1)
df_shuffled.head()

         N   P   K   Ph  Temperature(C)  Rainfall(mm)  Humidity        Crop
4868    18  62  19  7.3              29            98        61  pigeonpeas
2344    36  60  78  7.4              22            57        62    chickpea
14421  103  14  51  6.6              20            50        76   muskmelon
100     76  43  38  6.6              22           148        72        rice
2514    32  60  80  7.1              24            58        64    chickpea

In [10]:
df_shuffled.reset_index(inplace = True, drop = True)
df_shuffled.head()

     N   P   K   Ph  Temperature(C)  Rainfall(mm)  Humidity        Crop
0   18  62  19  7.3              29            98        61  pigeonpeas
1   36  60  78  7.4              22            57        62    chickpea
2  103  14  51  6.6              20            50        76   muskmelon
3   76  43  38  6.6              22           148        72        rice
4   32  60  80  7.1              24            58        64    chickpea

In [11]:
df_shuffled.to_csv('crop_data.csv')